.body{
    padding: 3vh 3vw 3vh 5vw;
}
.unavailable{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgba(0, 142, 0, 0.455);
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 5vh 5vw;
}
.unavailable p{
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
}
.submissions{
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 3vh 2vw;
}
.mainSub{
    width: 60vw;
    padding: 2vh 0vw;
}
.video{
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0.455);
}
.video source{
    border-radius: 30px;
}
.doc{
    width: 90%;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0.455);
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
}
.docPic{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 2vh;
}
.preview{
    background-color: rgb(0, 0, 71);
    color: rgb(255, 255, 255);
    width: 90%;
    padding: 5px 0px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 3vh;
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 142, 0.5);
}
.download{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 90%;
    padding: 5px 0px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px rgba(0, 142, 0, 0.455);
}
.preview:hover{
    background-color: green;
    color: white;
    box-shadow: 0px 0px 3px 3px rgba(0, 142, 0, 0.455);
}
.download:hover{
    background-color: green;
    color: white;
}
.comments{
    width: 60vw;
    padding: 3vh 2vw;
}
.comments h2{
    margin-bottom: 5vh;
    background-color: black;
    padding: 5px 15px;
    box-shadow: 0px 0px 3px 3px rgba(0, 142, 0, 0.455);
    border-radius: 15px;
    width: fit-content;
    cursor: pointer;
}
.comments h2:hover{
    background-color: green;
}
.groupComm{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
}
.comment{
    width: 50vw;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    padding: 2vh 2vw;
    margin-bottom: 3vh;
    box-shadow: 0px 0px 3px 3px rgba(240, 248, 255, 0.5);
}
.topPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}
.dp{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px rgba(240, 248, 255, 0.5);
}
.username{
    font-size: 10pt;
    margin-left: 10px;
}
.cPart{
    padding: 2vh 2vw;
}
.cPart p{
    font-size: 12pt;
    font-style: italic;
    font-weight: bold;
}
.lowerPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lowerPart p{
    font-size: 08pt;
}
.otherSub{
    width: 30vw;
    padding: 2vh 2vw;
    border-radius: 30px;
}
.other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 2vh 2vw;
    margin-bottom: 4vh;
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px rgba(0, 142, 0, 0.455);
}
.other:hover{
    transform: translateY(-1vh);
    box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0.455);
}
.otherPic{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}
.exp{
    width: 70%;
}
.new{
    background-color: navy;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(0, 142, 0, 0.455);
}
.new:hover{
    background-color: green;
    box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0.455);
}
.plus{
    font-size: 22pt;
    font-weight: bold;
    display: none;
}
.newSub{
    margin-left: 10px;
    font-weight: bold;
    font-size: 16pt;
}
.linkcpymsg{
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 5vh;
    left: -20vw;
    padding: 1vh 20px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: black;
    box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0);
}
.linkmsg{
    position: fixed;
    z-index: 100;
    bottom: 5vh;
    left: 0vw;
    transition: all 2s ease-in-out;
    transform: translateX(-15vw);
    padding: 1vh 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0);
    animation: removemsg 2s ease-in-out normal;
}
.linkmsgdis{
    position: fixed;
    z-index: 100;
    bottom: 5vh;
    left: 5vw;
    padding: 1vh 20px;
    border-radius: 20px;
    background-color: green;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0.5);
    animation: displaymsg 2s ease-in-out normal;
}
@keyframes displaymsg{
    from{
        background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        transform: translateX(-20vw);
        box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0);
    }
    to{
        background-color: green;
        color: white;
        transform: translateX(0vw);
        box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0.5);
    }
}
@keyframes removemsg {
    from{
        background-color: green;
        color: white;
        box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0.5);
    }
    to{
        background-color: black;
        color: black;
        box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0);
    }
}
@media(max-width: 1050px){
    .body{
        padding: 3vh 2vw;
    }
    .submissions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3vh 0vw;
    }
    .mainSub{
        width: 85vw;
        padding: 2vh 3vw;
    }
    .video{
        margin: 3vh auto;
        width: 99%;
    }
    .comments{
        width: 80vw;
    }
    .comment h2{
        margin-bottom: 2vh;
    }
    .comment{
        width: 75vw;
    }
    .otherSub{
        width: 80vw;
    }
    .exp{
        font-size: 12pt;
    }
}
@media(max-width: 600px){
    .otherPic{
        width: 50px;
        height: 50px;
    }
    .linkcpymsg{
        bottom: 12vh;
        left: -50vw;
    }
    .linkmsg{
        bottom: 12vh;
        left: -30vw;
        transform: translateX(-30vw);
    }
    .linkmsgdis{
        bottom: 12vh;
    }
    @keyframes displaymsg{
        from{
            background-color: rgba(0, 0, 0, 0);
            color: rgba(0, 0, 0, 0);
            transform: translateX(-30vw);
            box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0);
        }
        to{
            background-color: green;
            color: white;
            transform: translateX(0vw);
            box-shadow: 0px 0px 8px 8px rgba(0, 142, 0, 0.5);
        }
    }
}